// custom variables
@use 'variables' as *;
// bulma
@use "../../node_modules/bulma/versions/bulma-no-dark-mode" with (
    $container-max-width: 1150px, 
    $body-size: 18px, 
    $body-color: $color-black,
    $body-background-color: $color-white,
    $primary: $color-magenta, 
    $navbar-item-color: $color-white,
    $radius-small: 0,
    $radius-medium: 0,
    $radius-large: 0,
    $link: $color-black
);
// custom stylesheets
@use 'bulma_overrides' as *;
@use 'typography' as *;
@use 'modules' as *;
@use 'layout' as *;
// css variables for use in page-level overrides
:root {
    --color-red: #{$color-red};
    --color-orange: #{$color-orange};
    --color-green: #{$color-green};
    --color-yellow: #{$color-yellow};
    --color-magenta: #{$color-magenta};
    --color-blue: #{$color-blue};
    --color-black: #{$color-black};
    --color-grey: #{$color-grey};
    --color-darkgrey: #{$color-darkgrey};
    --color-white: #{$color-white};
}


// // bulma colors
// $black: hsl(0, 0%, 4%);
// $black-bis: hsl(0, 0%, 7%);
// $black-ter: hsl(0, 0%, 14%);
// $grey-darker: hsl(0, 0%, 21%);
// $grey-dark: hsl(0, 0%, 29%);
// $grey: hsl(0, 0%, 48%);
// $grey-light: hsl(0, 0%, 71%);
// $grey-lighter: hsl(0, 0%, 86%);
// $grey-lightest: hsl(0, 0%, 93%);
// $white-ter: hsl(0, 0%, 96%);
// $white-bis: hsl(0, 0%, 98%);
// $white: hsl(0, 0%, 100%);
// $orange: hsl(14, 100%, 53%);
// $yellow: hsl(48, 100%, 67%);
// $green: hsl(141, 71%, 48%);
// $turquoise: hsl(171, 100%, 41%);
// $cyan: hsl(204, 86%, 53%);
// $blue: hsl(217, 71%, 53%);
// $purple: hsl(271, 100%, 71%);
// $red: hsl(348, 100%, 61%);
// // bulma typography
// $family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
// $family-monospace: monospace;
// $render-mode: optimizeLegibility;
// $weight-light: 300;
// $weight-normal: 400;
// $weight-medium: 500;
// $weight-semibold: 600;
// $weight-bold: 700;
// $weight-extrabold: 800;
// $size-1: 3rem;
// $size-2: 2.5rem;
// $size-3: 2rem;
// $size-4: 1.5rem;
// $size-5: 1.25rem;
// $size-6: 1rem;
// $size-7: 0.75rem;
// $size-small: $size-7;
// $size-normal: $size-6;
// $size-medium: $size-5;
// $size-large: $size-4;
// // bulma lLayout
// $body-background-color: $white;
// $body-min-width: 300px;
// $body-line-height: 1.5;
// $section-padding: 3rem 1.5rem;
// $section-padding-desktop: 3rem 3rem;
// $container-max-width: 1152px;
// // bulma breakpoints
// $tablet: 769px;
// $desktop: 1024px;
// $widescreen: 1216px;
// $fullhd: 1408px;
// $widescreen-enabled: true;
// $fullhd-enabled: true;
// // bulma spacing
// $block-spacing: 1.5rem;
// $gap: 32px;
// // bulma radius
// $radius-small: 2px;
// $radius: 4px;
// $radius-medium: 6px;
// $radius-large: 8px;
// $radius-rounded: 9999px;
// // bulma transitions
// $duration: 86ms;
// $easing: ease-out;
// // bulma shadows
// $shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
//         0 0px 0 1px rgba(10, 10, 10, 0.02);
// // bulma code
// $code: $red;
// $code-background: $white-ter !default;
// $pre: $grey-dark !default;
// $pre-background: $white-ter !default;
// // bulam colors (functional)
// $primary: $turquoise;
// $link: $blue;
// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $light: $white-ter;
// $dark: $grey-darker;
// // bulma somponent examples (can be expanded)
// $button-padding-vertical: 0.5em;
// $button-padding-horizontal: 1em;
// $input-background-color: $white;
// $input-border-color: $grey-lighter;
// $navbar-background-color: $white;
// $card-shadow: $shadow;
// // bulma flags
// $variable-columns: true;
// $rtl: false;
// $class-prefix: '';
// $cssvars-prefix: '';
// $helpers-prefix: '';
// $helpers-has-prefix: false;