<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    {% include "meta.njk" %}
    <title>{{ title }}</title>
    {% include "style.njk" %}
    {% include "page_color.njk" %}
  </head>
  <body class="has-navbar-fixed-top">
    {% include "nav.njk" %}
    {% include "hero.njk" %}
    <section class="section">
      <div class="container">
        {% include "keynote_speakers.njk" %}
      </div>     
      <br/>
      <div class="container">
        <div class="columns">
          <div class="column is-three-quarters content">
            {{ content | safe }}
            <br/>
          </div>
        </div>
      </div>
      <div class="container">
        {% include "past_events.njk" %}
      </div>
    </section>
    {% include "footer.njk" %}
    {% include "scripts.njk" %}
  </body>
</html>