@import url('cabinet-grotesk.css');

* {
    box-sizing: border-box;
}

body {
    overscroll-behavior: none;
    margin: 0;
    padding-top: 240px;
    padding-bottom: 80px;
    font-family: CabinetGrotesk-Variable;
    font-size: 19px;
    line-height: 27px;
    font-weight: 400;
    background: 
        url('../images/texture.png') repeat,
        linear-gradient(
            to bottom,
            #CB4EC6 0px,
            #FDF19C 260px,
            #FDF19C 100%
    );
}

.homeBody {
    padding-top: 0;
    background: 
        url('../images/texture.png') repeat,
        linear-gradient(
            to bottom,
            #CB4EC6 0px,
            #CB4EC6 400px,
            #FDF19C 700px,
            #FDF19C 100%
    );
}

#animation {
}

.content {
    margin-top: -150px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 10px;
    max-width: 30em;
}

p{
	font-size: 19px;
	line-height: 27px;
	font-weight: 400;
}




h1 {
    font-family: CabinetGrotesk-Variable;
    font-size: 40px;
    line-height: 47px;
    font-weight: 400;
    font-weight: 500;
	margin: 0;
}

h2 {
    font-size: 27px;
    line-height: 1.3em;
    font-weight: 500;
}

h2.subtitle{
	margin: 0;
	margin-top: 1em;
    font-weight: 300;
}

h2.date{
	margin: 0;
	font-weight: 500;
}

p.intro {
    font-size: 19px;
    line-height: 27px;
	font-weight: 400;
	
}

p.intro a{
	font-weight: 500;
}

@keyframes weightAnimation {
    0% {
        font-variation-settings: 'wght' 720;
    }
    50% {
        font-variation-settings: 'wght' 750;
    }
    100% {
        font-variation-settings: 'wght' 720;
    }
}

p.list a{
	text-indent: 0.5em;
	display: block;
	font-variation-settings: 'wght' 720;
	animation: weightAnimation 1.0s infinite;
	
}

p.list em{
	font-style: normal;
	font-weight: 300;
	text-indent: 0.5em;
	display: block;
}

p .sc{
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
}

p .sc2{
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

.content a:link,
.content a:active,
.content a:visited {
    color: inherit;
    text-decoration-color: inherit;
    text-decoration-thickness: 1px;
    text-underline-offset: 2.5px;
    word-break: break-word;
}

.content a:hover {
    color: #CB4EC6;
}

h4 {
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    padding-left: 0.625em;
    list-style-type:'– ';
}

ul ul {
   list-style-type:disc;
   padding-left: 1.25em;
}

hr {
    margin-top: 64px;
    margin-bottom: 64px;
    border: none;
    height: 1px;
    background-color: #000;
    opacity: 0.5;
}

span.inst {
    opacity: 0.5;
}

.fixedNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #CB4EC6; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

.navStart,
.navEnd {
    display: flex;
}

.navLogo {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

.navLink, 
a.navLink:link, 
a.navLink:active, 
a.navLink:visited {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

a.navLink:hover {
    color: #CB4EC6;
    background-color: #fff;
}

.btn,
.btn:link,
.btn:active,
.btn:visited {
    padding: 1rem;
    text-decoration: none;
    color: #fff !important;
    background-color: #CB4EC6;
}

.btn:hover {
    color: #CB4EC6 !important;
    background-color: #fff;
}