{% set header_image = header.image | default('t2-blue-magenta') %}
{% set header_vimeo_id = header.vimeo_id | default('1106005730') %}
{% set hero_media_id = header.media_id or hero_videos[header_vimeo_id] or hero_videos['1106005730'] %}
<section class="hero">
  <div
    class="header-video">
    <!-- poster image as background -->
        <picture class="video-poster">
          <source srcset="{{ ('/images/headers/' ~ header_image ~ '.avif') | url }}" type="image/avif">
          <source srcset="{{ ('/images/headers/' ~ header_image ~ '.webp') | url }}" type="image/webp">
          <img src="{{ ('/images/headers/' ~ header_image ~ '.png') | url }}"
              alt="Poster"
              style="width: 100%; height: 100%; object-fit: cover;">
        </picture>
          <!-- MediaCMS-hosted adaptive player -->
          <iframe
            src="https://media.infoplus.team/embed?m={{ hero_media_id }}&background=1&autoplay=1&muted=1&loop=1&controls=0&playsinline=1&linkTitle=0&showUserAvatar=0&showRelated=0"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-one-half" style="align-content: end;">
                <div class="logo">
                {% include "../../../source/images/logos/infoplus_logo_anim.svg" %}
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-half content" style="align-content: end;">
                {{ global.event_date | markdownify | safe }}
              </div>
              <div class="column is-one-quarter" style="align-content: end;">
                &nbsp;
              </div>
              <div class="column is-one-quarter content" style="align-content: end;">
                {{ global.call_to_action | markdownify | safe }}
              </div>
            </div>
          </div>
        </div>
      </section>