<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Information+ Conference 2025">
<meta property="og:type" content="website">
<meta property="og:url" content="https://informationplusconference.com/2025/">
<meta property="og:image" content="{{ '/images/infoplus2025small.png' | url }}">
<meta property="og:image:alt" content="Information+ Conference 2025">
<meta property="og:description " content="Interdisciplinary practices in information design &amp; visualization. Boston, 14th - 16th November 2025">
<meta property="og:site_name" content="VISAP 2024">
<meta name="twitter:image" content="{{ '/images/infoplus2025small.png' | url }}">
<link rel="icon" href="{{ '/images/favicon/favicon.ico?v=1' | url }}" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon/favicon-16x16.png' | url }}">
<link rel="apple-touch-icon" href="{{ '/images/favicon/apple-touch-icon.png' | url }}" type="image/png">
<link rel="manifest" href="{{ '/images/favicon/site.webmanifest' | url }}">

