---
title: "Accepted Talks"
layout: "layout_default.njk"
primary_color: "green"
secondary_color: "black"
header: 
  image: "f1-green-yellow"
  vimeo_id: "1105940284"

---

<!-- 
Temporary static display
Update when the program data is complete 
-->

<style>
  .presentation {
    padding-left: 2em;
    margin-bottom: 2em;
  }

  .content .presentation p {
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-start: 0;
  }

  .presentation strong {
    font-weight: 800;
  }
</style>

<h4>Accessibility / Disability</h4>
<div class="presentation">
  <p><strong>
      Beyond the Visual: Creating multimodal displays for maximizing ocean
      science engagement
    </strong></p>
  <p class="presenters">Jessica Roberts</p>
</div>
<div class="presentation">
  <p><strong>Decentering Vision in Accessible Visualization</strong></p>
  <p class="presenters">Jonathan Zong</p>
</div>
<div class="presentation">
  <p><strong>
      Sparkling conversations with data to empowering communities in
      Latinoamerica
    </strong></p>
  <p class="presenters">Jose Duarte</p>
</div>
<h4>Art / Design</h4>
<div class="presentation">
  <p><strong>Reimagining Research: Gaming, Data + Research Integration</strong></p>
  <p class="presenters">Cary Staples</p>
</div>
<h4>Critical Visualization</h4>
<div class="presentation">
  <p><strong>
      Pluriversal Civic Encounters: experimental practices of participatory
      data visualisation from the local
    </strong></p>
  <p class="presenters">Barbara Urrutia-Badilla</p>
</div>
<div class="presentation">
  <p><strong>
      Timeline Architectures: Platform Temporalities and the Design of Online
      Attention
    </strong></p>
  <p class="presenters">Oliver Arellano-Padilla</p>
</div>
<div class="presentation">
  <p><strong>Soft Sites: Textiles as Feminist Praxis</strong></p>
  <p class="presenters">Sophie Chien</p>
</div>
<h4>Data Journalism / Media</h4>
<div class="presentation">
  <p><strong>
      Explaining Geopolitics Through Data and Geography: The Financial Times’
      Visual Storytelling Approach
    </strong></p>
  <p class="presenters">Irene de la Torre Arenas</p>
</div>
<div class="presentation">
  <p><strong>What it takes to design visual stories in local journalism</strong></p>
  <p class="presenters">Yuqing Liu</p>
</div>
<h4>Design / Data &amp; Philosophy</h4>
<div class="presentation">
  <p><strong>Theories of change in visualization</strong></p>
  <p class="presenters">Dietmar Offenhuber</p>
</div>
<div class="presentation">
  <p><strong>
      Mapping Shelter, Modeling Care: Participatory Spatial Data from Migrants
      in Transit
    </strong></p>
  <p class="presenters">Marcos Escamilla-Guerrero</p>
</div>
<div class="presentation">
  <p><strong>Books that describe the world through the eyes</strong></p>
  <p class="presenters">Paul Kahn</p>
</div>
<h4>Digital Humanities / Museums / Culture</h4>
<div class="presentation">
  <p><strong>
      Flow States: Designing visually fluid visualisation and interface tools
      to support humanistic-centred enquiry and discovery.
    </strong></p>
  <p class="presenters">Andrew Richardson</p>
</div>
<h4>Education / Pedagogy</h4>
<div class="presentation">
  <p><strong>
      Pedagogies of Practice: Teaching Information Design in an Eco-Social
      Context
    </strong></p>
  <p class="presenters">Alessia Musio</p>
</div>
<h4>Emergent Technology</h4>
<div class="presentation">
  <p><strong>Does visualization help AI understand data?</strong></p>
  <p class="presenters">Victoria Li</p>
</div>
<h4>Environment / Climate</h4>
<div class="presentation">
  <p><strong>
      Deep Sea Literacy: Cartographic Activations for Planetary Hydro-Commons
    </strong></p>
  <p class="presenters">Gokcen Erkilic</p>
</div>
<div class="presentation">
  <p><strong>Fragile Frontlines: An Atlas of Loss and Damage in the Third Pole</strong></p>
  <p class="presenters">Madeeha Merchant</p>
</div>
<div class="presentation">
  <p><strong>
      The Vital Aesthetics of Biodiversity Data: Reconnecting Ecological
      Relations within Digital Systems
    </strong></p>
  <p class="presenters">Michelle Westerlaken</p>
</div>
<div class="presentation">
  <p><strong>Echoes of Knowing: Toward an Acoustic Epistemology of Information</strong></p>
  <p class="presenters">Paula Martin Rivero</p>
</div>
<h4>Ethics / Justice / Diversity</h4>
<div class="presentation">
  <p><strong>
      The Atlas of Popular Transport: Subverting the Atlas as a Tool of
      Collective Intelligence
    </strong></p>
  <p class="presenters">Alberto Meouchi</p>
</div>
<div class="presentation">
  <p><strong>In Plain Sight</strong></p>
  <p class="presenters">Gauri Bahuguna</p>
</div>
<div class="presentation">
  <p><strong>
      Lost in Transliteration: Visualizing the Algorithmic Misreadings of
      Chinese Names
    </strong></p>
  <p class="presenters">Liuhuaying Yang</p>
</div>
<div class="presentation">
  <p><strong>EMOTIONAL GEOGRAPHIES OF THE MEDITERRANEAN</strong></p>
  <p class="presenters">Marcella Del Signore</p>
</div>
<div class="presentation">
  <p><strong>
      Visualizing Salary Inequity: Data as a Catalyst for Institutional Change
      in Higher Education
    </strong></p>
  <p class="presenters">MiHyun Kim</p>
</div>
<div class="presentation">
  <p><strong>
      Overcoming Epistemic Barriers in Data Advocacy: A Framework for
      Inclusive Information Design
    </strong></p>
  <p class="presenters">Mohsin Yousufi</p>
</div>
<h4>Experimental Data Visualization</h4>
<div class="presentation">
  <p><strong>Microbial Interfaces</strong></p>
  <p class="presenters">Katia Zolotovsky</p>
</div>
<div class="presentation">
  <p><strong>
      Data feminism in action: mapping Urban Belonging in Copenhagen with
      experimental visualization and participatory GIS
    </strong></p>
  <p class="presenters">Sofie Burgos-Thorsen</p>
</div>
<h4>Information Design Project</h4>
<div class="presentation">
  <p><strong>
      From Data to Impact: Strengthening Pro-Democracy Work Through Design
    </strong></p>
  <p class="presenters">Meaghan Barry</p>
</div>
<h4>Politics / Democracy</h4>
<div class="presentation">
  <p><strong>
      Data resistance: counter data practices against state-led urban
      redevelopment in Seoul’s urban manufacturing district
    </strong></p>
  <p class="presenters">Chaewon Ahn</p>
</div>
<div class="presentation">
  <p><strong>
      Visualizing Political Infrastructures of Inequality: A Radical Atlas
    </strong></p>
  <p class="presenters">Patty Heyda</p>
</div>
<div class="presentation">
  <p><strong>The New Necro-Nominalism</strong></p>
  <p class="presenters">Samuel Holleran</p>
</div>
<div class="presentation">
  <p><strong>
      Distance Unknown: Visualizing the Costs and Risks of Migration in the
      Americas
    </strong></p>
  <p class="presenters">Sarah Williams</p>
</div>
<h4>Visualization in Practice</h4>
<div class="presentation">
  <p><strong>Designing While Furious</strong></p>
  <p class="presenters">Dana Ragouzeos</p>
</div>
<div class="presentation">
  <p><strong>Visualizing Environmental Justice: Shaping Urban Policy</strong></p>
  <p class="presenters">Dare Brawley</p>
</div>
<div class="presentation">
  <p><strong>
      The Design Work You Don’t See: How Practitioners Frame Problems Before
      Visualizing Anything
    </strong></p>
  <p class="presenters">Paul Parsons</p>
</div>
<div class="presentation">
  <p><strong>
      "Do This Instead": 4 Powerful (and Empowering) Alternatives to Common
      Charts
    </strong></p>
  <p class="presenters">Zan Armstrong</p>
</div>

<!--
Data-driven catalog
-->

<!-- <div class="row">
  <div class="col col_1of2">
    <div class="program-events">
      {% set lastDate = "" %}
      {% for event in program | sortByDateTime %}
        {# Format the date to something like "Friday, November 14" #}
        {% set eventDate = event.date %}
        {% if eventDate != lastDate %}
          <div class="event_day eyebrow">{{ eventDate | dateDisplay }}</div>
          {% set lastDate = eventDate %}
        {% endif %}
        {% set time = event.start_time %}
        <div class="event">
          <div class="event_time">{{ time | timeDisplay }}</div>
          <div class="event_info">
            {% if event.presentation_title %}
              {% if event.presenters %}
                <div class="event_presenter">{{ event.presenters }}</div>
              {% endif %}
              <div class="event_title">{{ event.presentation_title }}</div>
            {% elif event.session_title %}
              <div class="event_title">{{ event.session_title }}</div>
            {% else %}
              <div class="event_title">Event</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div> -->